{% extends 'main/base.html' %}
<!--  -->
{% block title %}Progress{% endblock %}
<!--  -->
{% block content %}
  <style>
    .goal-card {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 10px;
      margin-bottom: 10px;
      background-color: #f9f9f9;
    }

    .goal-card h3 {
      color: #333;
      margin-bottom: 5px;
    }

    .goal-card p {
      color: #666;
      margin-bottom: 5px;
    }
    .goal-card .goal-time {
      font-style: italic;
      color: #999;
    }

    .login-link {
      color: blue;
      text-decoration: underline;
    }

    
  </style>

<h1>Check Your Goals</h1>
<p>List of your goals</p>
<br />
<p>View, Edit and Delete Your Goals Below:</p>
<br />
<!--  -->
{% if user.is_authenticated %}
  <div class="goals-container">
    <!--  -->
    {% if goals %}
    <ul>
      {% for goal in goals %}
        <div class="goal-card">
        <h3>{{ goal.goal_name }}</h3>
            <p><strong>Goal Description:</strong> {{goal.goal_description}}</p>
            <p><strong>Goal Deadline: </strong> {{goal.goal_deadline}}</p>
            <p><strong>Total Hours Spent: </strong>{{ goal.total_hours_spent }}</p>
            <br>
               <!-- Progress Bar -->
               <div><p><strong>Progress Percentage: </strong></p></div><br>
               <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ goal.progress_percentage }}%;" aria-valuenow="{{ goal.progress_percentage }}" aria-valuemin="0" aria-valuemax="100">{{ goal.progress_percentage }}%</div>
              </div>
              <br>
              <!-- Milestones -->
              <p><strong>Milestones:</strong></p>        
                  <p>{{ goal.target_hours }} Hours</p>
              <br>
              <p>You can log your hours here: <a href="{% url 'edit_user_goal' pk=goal.pk %}"><i class="fa-regular fa-pen-to-square"></i></a></p>
        </div>
      {% endfor %}
    </ul>
    <!--  -->
    {% else %}
    <p>No goals found...</p>
    {% endif %}
  </div>
{% else %}
<p>Please <a href="/{{login}}">login</a> to view your goals</p>
  <!--  -->
{% endif %}
</div>
<!--  -->
{% endblock %}
