{% extends 'main/base.html' %}
<!--  -->
{% block title %}Progress{% endblock %}
<!--  -->
{% block content %}
<h1>Check Your Goals</h1>
<p>List of your goals</p>
<br />
<p>View, Edit and Delete Your Goals Below:</p>
<br />
<!--  -->
{% if user.is_authenticated %}
  <div>
    <!--  -->
    {% if goals %}
    <ul>
      {% for goal in goals %}
      <li>{{goal.goal_name}}</li>
        <p>{{goal.goal_desc}}</p>
        <p>{{goal.goal_time}}</p>

      
      {% endfor %}
    </ul>
    <!--  -->
    {% else %}
    <p>No goals found...</p>
    {% endif %}
  </div>
{% else %}
<p>Please <a href="/{{login}}">login</a> to view your goals</p>
  <!--  -->
{% endif %}
</div>
<!--  -->
{% endblock %}
